$color-white: #ffffff;
$color-black: #000000;
$color-blue: #1504e7;
$color-red: #de1922;
$color-text: #1a1a1a;
$color-light-red: #ed1c20;
$color-blue-l: #1403e8;
$color-border: #ebebeb;
$color-gray: #8d8d8d;
$color-border-red: #eb1f27;
$color-title: #262525;
$color-border-blue: #3e32d4;
$color-icon: #e0e1e3;
$color-gray-l: #dcdcdc;
$color-gray-text: #838383;


$color-gray-bg: #f3f4fa;
$color-gray-text: #bebebe;
$color-text-f: #aeb3b7;
$color-bg-rose: #ebebf7;
$color-bg-purple: #3949ab;
$color-blue-bg: #0077b5;
$color-bg-block: #f6f7fb;
$color-map-border: #d7d7d7;
$color-bg-map: #eceff1;
$color-red: #e21708;
$color-gray-title: #f2f2f2;

body {
  background: $color-white; color: $color-text;
}
blockquote {
  display: block; font-size: 28px; line-height: 35px; padding: 30px 0; position: relative; max-width: 510px; border: none;
  .text {
    padding-left: 71px; position: relative;
    &:before {
      content: '\E004'; font-family: "Icons"; font-size: 24px; position: absolute; left: 30px; top: -8px; color: $color-blue-l;
    }
  }
  &:before {
    content: ''; display: block; height: 100%; width: 50%; border-top: 5px solid $color-blue-l; border-left: 5px solid $color-blue-l; border-bottom: 5px solid $color-blue-l;
    position: absolute; left: 0; top: 0;
  }
  &:after {
    content: ''; display: block; height: 100%; width: 50%; border-top: 5px solid $color-light-red; border-bottom: 5px solid $color-light-red; border-right: 5px solid $color-light-red;
    position: absolute; right: 0; top: 0; border-top-right-radius: 60px; border-bottom-right-radius: 60px;
  }
}
a {
  color: $color-text; transition: all .3s ease;
  &:hover, &:focus, &:active {
    color: $color-blue;
  }
}
main {
  flex: 0 1 auto; flex-basis: 100%;
}
footer {
  flex-shrink: 0;
}
sup {
  color: $color-red;
}
.row {
  margin: 0 -15px;
}
.red-text {
  color: $color-light-red!important;
}
.blue-text {
  color: $color-blue-l!important;
}
.slick-loading .slick-list {
  background: none;
}
@include placeholder() {
  font-size: 14px; color: #7f7f7f;
}
.wrapper {
  max-width: 1560px; padding: 0 15px; margin: 0 auto;
}
.wrap {
  max-width: 1315px; padding: 0 15px; margin: 0 auto;
}
.footer-wrap {
  max-width: 1360px; padding: 0 15px; margin: 0 auto;
}
/* BEGIN TITLE */
  .title-header {
    font-size: 24px; letter-spacing: 3px;
  }
  .title-page {
    font-weight: bold; font-size: 44px; color: $color-white; text-align: center; text-transform: uppercase; margin-bottom: 40px; letter-spacing: 2.2px; line-height: 53px;
  }
  .title-about {
    font-weight: bold; font-size: 44px; max-width: 650px; color: $color-text; line-height: 62px; padding-bottom: 30px;
    &:before {
      content: ''; position: absolute; bottom: 0;
    }
  }
  .decor-element {
    width: 18px; height: 18px; background: $color-blue; position: absolute; top: -9px; left: 0;
    &:after {
      content: ''; display: block; width: 18px; height: 18px; border-radius: 50%; background: $color-light-red; position: absolute; right: -25px;
    }
  }
  .title-block {
    color: $color-title; font-weight: bold; font-size: 35px; line-height: 40px; position: relative; text-align: center; padding: 0 30px; display: inline-block;
    margin-bottom: 60px;
    &:after, &:before {
      content: ''; position: absolute; width: 11px; height: 11px; top: 50%; transform: translateY(-50%);
    }
    &:before {
      left: 0; background: $color-blue;
    }
    &:after {
      right: 0; background: $color-light-red; border-radius: 50%;
    }
  }
/* END TITLE */
/** BEGIN BTN STYLE **/
.btn {
  border: 3px solid $color-blue; color: $color-blue;  text-transform: uppercase; font-weight: bold; padding: 4px 24px 4px 10px; font-size: 18px; height: auto; line-height: normal;
  background: transparent; box-shadow: none;
}
.btn-contact, .btn-read-more {
  position: relative; transition: all .3s ease;
  &:after {
    content: '\E001'; width: 38px; height: 38px; border-radius: 50%; background: $color-light-red; font-family: "Icons"; line-height: 38px; text-align: center; font-size: 16px;
    position: absolute; right: -15%; top: 50%; transform: translateY(-50%) rotate(-90deg); color: $color-white; transition: all .3s ease;
  }
  &:hover, &:focus, &:active {
    border-color: $color-light-red; color: $color-light-red; background: transparent; box-shadow: none;
    &:after {
      background: $color-blue;
    }
  }
}
.btn-contact {
  background: $color-blue; color: $color-white; box-shadow: none;
}
.btn-blue {
  border-radius: 16px; background: transparent; padding: 6px 30px; border: 3px solid $color-blue; color: $color-blue; height: auto; line-height: normal; box-shadow: none;
  font-size: 15px; font-weight: bold; display: inline-block;
  &:hover, &:focus, &:active {
    background: $color-blue; color: $color-white; box-shadow: none;
  }
}
.btn-search {
  background: $color-red; color: $color-white; font-size: 15px; font-weight: bold; padding: 15px 58px 15px 27px; height: auto; line-height: normal; box-shadow: none;
  border-radius: 25px; position: relative; border: 1px solid transparent;
  &:after {
    content: '\E002'; display: block; font-family: "Icons"; color: $color-white; font-size: 20px; position: absolute; right: 27px; top: 50%; transform: translateY(-50%);
  }
  &:hover, &:focus {
    border-color: $color-red; background: transparent; color: $color-red; box-shadow: none;
    &:after {
      color: $color-red;
    }
  }
}
.btn-extended {
  border: 2px solid $color-white; padding: 7px 30px; color: $color-white; font-size: 15px; text-transform: uppercase;
  &:hover, &:focus, &:active {
    border-color: $color-red; background: $color-white; color: $color-red;
  }
}
.btn-anchor {
  width: 51px; height: 51px; border-radius: 50%; border: 3px solid $color-white; position: relative;
  &:after {
    content: '\E003'; display: inline-block; font-family: "Icons"; color: $color-white; font-size: 23px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  }
}
.btn-subscribe {
  background: $color-border-red; border-radius: 50%; border: none; width: 50px; height: 50px; position: relative;
  &:before {
    content: '\E003'; display: block; font-family: "Icons"; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-90deg); font-size: 15px; color: $color-white;
  }
}
/** END BTN STYLE **/
/* BEGIN BREADCRUMBS */
.breadcrumbs {
  display: flex; font-size: 12px; margin-bottom: 70px;
  li {
    position: relative; color: $color-white;
    a, span {
      display: block; color: rgba($color-white, .6); transition: all .3s ease;
      &:hover, &:focus, &:active {
        color: $color-white;
      }
    }
    span {
      color: $color-white; transition: all .3s ease;
    }
    &:not(:last-child) {
      padding-right: 8px; margin-right: 4px;
      &:after {
        content: '-'; display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%); color: rgba($color-white, .6);
      }
    }
  }
  @media (max-width: 880px) {
    margin-bottom: 15px;
  }
}
/*END BREADCRUMBS */
.header-inner {
  .header-image {
    min-height: 647px; padding: 0 0 34%;
    @media (max-width: 880px) {
      min-height: 200px;
    }
  }
}
.header-contact {
  .header-image {
    padding: 0 0 31%;
  }
  .title {
    margin-bottom: 40px;
  }
  .breadcrumbs {
    margin-bottom: 40px;
  }
  @media (max-width: 1440px) {
    .title-annotation {
      font-size: 30px; line-height: 34px;
    }
  }
  @media (max-width: 1335px) {
    .title {
      margin-bottom: 20px;
    }
    .breadcrumbs {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 977px) {
    .block-annotation {
      display: none;
    }
  }
}
.feedback-homepage {
  background: $color-bg-block; padding: 55px 0;
  .wrapper {
    max-width: 1200px;
  }
  @media (max-width: 767px) {
    padding: 25px 0;
  }
}
.title-footer {
  font-size: 20px; line-height: 30px; font-weight: normal; text-align: center; color: $color-white; max-width: 1120px; margin: 0 auto;
  span {
    display: block; font-size: 35px; font-weight: 500; line-height: 42px; margin-bottom: 22px;
  }
  .text {
    margin-bottom: 26px;
  }
  .btn {
    max-width: 176px; position: relative;
    &:before {
      content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; height: 100%; background: rgba($color-white, .2); opacity: 0; transition: all .3s ease;
    }
    &:hover, &:focus, &:active {
      background: $color-blue; color: $color-white;
      &:before {
        opacity: 1;
      }
    }
  }
  @media (max-width: 767px) {
    margin: 0 auto 15px auto; font-size: 14px; line-height: 16px;
    span {
      font-size: 20px;
      line-height: 28px;
    }
    .text {
      margin-bottom: 18px;
    }
  }
}
.block-offer.feedback-homepage {
  background: $color-blue-bg;
}
/* STYLE FORM */
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
   margin-bottom: 10px; height: 47px; border: 1px solid #d9d5d5; padding: 0 15px;
 }
textarea {
  border: 1px solid #d9d5d5; min-height: 150px; padding: 15px; margin-bottom: 20px;
}
/* SLIDER STYLE */
 .slick-arrow {
   width: 30px; height: 57px; opacity: 1; top: 57%;
   &:before {
     font-size: 70px; font-family: "Icons"; color: #3022e3; opacity: 1;
   }
   &.slick-next {
     right: -80px;
     &:before {
       content: '\E00E';
     }
   }
   &.slick-prev {
     transform: rotate(-180deg); left: -62px; transform-origin: 0 37%;
     &:before {
       content: '\E00E';
     }
   }
 }