footer
    .footer-wrap
        .top-footer.row
            .menu-footer.col.l2
                .title-footer__menu ГОЛОВНЕ МЕНЮ
                ul
                    li
                        a(href="#") ПОШУК
                    li
                        a(href="#") ПРО ПОРТАЛ
                    li
                        a(href="#") ПРАВОВІ ПОЗИЦІЇ
                    li
                        a(href="#") ТАРИФИ
                    li
                        a(href="#") НОВИНИ
            .menu-footer.col.l2
                .title-footer__menu особистий кабінет
                ul
                    li
                        a(href="#") ВХІД
                    li
                        a(href="#") РЕГІСТРАЦІЯ
                    li
                        a(href="#") ПРОБУВАТИ ДЕМО
            .menu-footer.col.l3
                .title-footer__menu ГОЛОВНЕ МЕНЮ
                ul
                    li
                        a(href="#") УМОВИ ВИКОРИСТАННЯ
                    li
                        a(href="#") Політика конфіденційності
                    li
                        a(href="#") МАПА САЙТУ
            .col.l5.decoration-bg
        .bottom-footer.row.valign-wrapper
            .footer-logo.col.l3
                a(href="#")
                    img(src="images/logo-footer.png", alt="#")
            .title-footer.col.l6 ЄДИНИЙ ПОРТАЛ АНАЛІТИКИ
                b  СУДОВОЇ ПРАКТИКИ
            .subscribe-form.col.l3
                .title-subscribe Підписатись на розсилку
                form(class="js_validate", action="/")
                    .form-group
                        input(type="email", placeholder="E-mail", required="", data-validate="email")
                    button(type="submit", class="btn-subscribe")
        .footer-copyright
            .copyright © 2018 Всі права захіщені.
                b  Ratio Decidendi
            .social-links
                ul
                    li.facebook
                        a(href="#", target="__blank")
                    li.linkedin
                        a(href="#", target="__blank")
                    li.twitter
                        a(href="#", target="__blank")
                    li.pinterest
                        a(href="#", target="__blank")
