<!--BEGIN HEADER-->
header.inner-header
    .header-top
        .wrapper
            .row.valign-wrapper
                a(href="#").logo.col.l3
                    img(src="images/logo-inner.png", alt="#")
                nav.main-menu.col.l7
                    ul
                        li
                            a(href="#") ПОШУК
                        li
                            a(href="#") ПРО ПОРТАЛ
                        li
                            a(href="#") ПРАВОВІ ПОЗИЦІЇ
                        li
                            a(href="#") ТАРИФИ
                        li
                            a(href="#") НОВИНИ
                .col.l2.btn-group
                    a(href="#").btn.btn-blue ВХІД
<!--END HEADER-->