<!--BEGIN HEADER-->
header.header-main
    .header-top
        .wrapper
            .row.valign-wrapper
                a(href="#").logo.col.l3
                    img(src="images/logo-header.png", alt="#")
                .title-header.col.l7 ЄДИНИЙ ПОРТАЛ АНАЛІТИКИ
                    b  СУДОВОЇ ПРАКТИКИ
                .col.l2.btn-group
                    a(href="#").btn.btn-blue ВХІД
    .header-middle
        .bg-image(style="background-image: url('images/bg-main.jpg')")
        .search-block
            .h2.title-page Знайти правову позицію
            form(action="/", class="js_validate")
                .form-group.select
                    select
                        option Юрисдикції
                        option ЮрисдикціїЮрисдикції
                        option ЮрисдикціїЮрисдикціїЮрисдикціїЮрисдикції
                .form-group
                    input(type="text" name="search", placeholder="Введіть ключові слова")
                button(type="submit", class="btn btn-search") ПОШУК
            a(href="#", class="btn-extended") РОЗШИРЕНИЙ ПОШУК
        a(href="#" class="btn-anchor js-anchor")
    nav.main-menu
        ul
            li
                a(href="#") ПОШУК
            li
                a(href="#") ПРО ПОРТАЛ
            li
                a(href="#") ПРАВОВІ ПОЗИЦІЇ
            li
                a(href="#") ТАРИФИ
            li
                a(href="#") НОВИНИ
<!--END HEADER-->