footer.inner-footer
    .wrapper
        .top-footer.row
            .logo.col.l2
                a(href="#")
                    img(src="images/logo-inner-f.png", alt="#")
            .menu-footer.col.l2
                ul
                    li
                        a(href="#") Каталог статей
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Тарифы
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Контакты
            .menu-footer.col.l2
                ul
                    li
                        a(href="#") Вход
                    li
                        a(href="#") Регистрация
                    li
                        a(href="#") Попробовать Демо
            .menu-footer.last-menu.col.l2
                ul
                    li
                        a(href="#") Условия пользования
                    li
                        a(href="#") Политика конфиденциальности
                    li
                        a(href="#") Карта сайта
            .social-links.col.l3.offset-l1
                .title-footer__menu Присоединяйтесь к нам в соц сетях
                ul
                    li.linkedin
                        a(href="#", target="__blank") Мы в LinkedIn
                    li.facebook
                        a(href="#", target="__blank") Мы в Facebook
        .footer-copyright.row
            .copyright.col.l6 Copyright ©
                span.yearN  2018
                |  Ratio Decidendi
            .developer.col.l6 Разработка и поддержка сайта -
                a(href="#", target="__blank")  Artjoker
