<!DOCTYPE html>
    include template/_head
    body
        include template/_header
        script(type='text/javascript', src='js/all-plugins.js')
        script(type='text/javascript', src='js/main.js')