<!DOCTYPE html>
    html
        include template/_head
        body
            include template/_header
            main
                .block-about(style="background:url('images/bg-about.png')no-repeat 50% 100%")
                    .wrapper
                        .wrap
                            .title-about
                                span.blue-text Ratio
                                span.red-text  Decidendi
                                | — професійний помічник судових юристів.
                            .about-description
                                span.decor-element
                                strong Ratio Decidendi
                                    i  (скорочено - RD)
                                    |  — це найбільш ефективний інформаційно-аналітичний портал про застосування судами норм законодавства, місією якого визначено сприяння забезпеченню сталості та єдності судової практики
                                .text За своєю суттю
                                    b  RD
                                    |  являє собою базу даних ретельно відібраних та оброблених експертами правових позицій, які містяться в рішеннях судів вищих інстанцій.
                                    b  RD
                                    | — це не ще одна копія безкоштовного офіційного реєстру судових рішень, а абсолютно новий професійний цифровий продукт, що поєднує в собі
                                    b  високотехнологічні системи
                                    |  пошуку і обробки інформації з
                                    b  роботою живих експертів,
                                    |  завданням яких є визначення
                                    b  есенції в кожному ключовому рішенні судів вищих інстанцій.
                                a(href="#", class="btn btn-read-more") Про портал
                            blockquote
                                .text
                                    b.blue-text Ratio
                                    b.red-text  Decidendi
                                    |  — приймай рішення
                                    b.blue-text  Ratio
                                    | нально!
                .block-advantages
                    .title-block Переваги
                    .wrapper
                        .advantages
                            .advantages-item
                                .image
                                    img(src="assets/images/a-1.png", alt="#")
                                .description
                                    b Економія часу та ресурсів
                                    |  на підготовку власних правових позицій
                            .advantages-item
                                .image
                                    img(src="assets/images/a-2.png", alt="#")
                                .description
                                    b Підвищення ефективності правових позицій
                                    |  та дає можливість оцінити можливі ризики і перспективи
                            .advantages-item
                                .image
                                    img(src="assets/images/a-3.png", alt="#")
                                .description
                                    b Створений юристами для юристів
                                    |  для реального спрощення та покращення робочих процесів
                            .advantages-item
                                .image
                                    img(src="assets/images/a-4.png", alt="#")
                                .description
                                    b Ми завжди на зв’язку
                                    |  для постійного поліпшення зручності та корисності наших цифрових продуктів
                        a(href="#").btn.btn-rate.__free СПРОБУВАТИ
                .block-position
                    .wrapper
                        .title-position Аналітика судової практики —
                            span.sub-title завжди під рукою!
                        .positions.js-slider-position
                            a(href="#").positions-item
                                .image
                                    img(src="assets/images/position.png", alt="#")
                                .title Загальна
                                    span.sub-title юрисдикція
                                span.btn-more Всі правові позиціїї
                                .article-count Кількість статей
                                    span.count 1730
                            a(href="#").positions-item
                                .image
                                    img(src="assets/images/position.png", alt="#")
                                .title Господарська
                                    span.sub-title юрисдикція
                                span.btn-more Всі правові позиціїї
                                .article-count Кількість статей
                                    span.count 1730
                            a(href="#").positions-item
                                .image
                                    img(src="assets/images/position.png", alt="#")
                                .title Адміністративна
                                    span.sub-title юрисдикція
                                span.btn-more Всі правові позиціїї
                                .article-count Кількість статей
                                    span.count 1730
                            a(href="#").positions-item
                                .image
                                    img(src="assets/images/position.png", alt="#")
                                .title Конституційна
                                    span.sub-title юрисдикція
                                span.btn-more Всі правові позиціїї
                                .article-count Кількість статей
                                    span.count 1730
                            a(href="#").positions-item
                                .image
                                    img(src="assets/images/position.png", alt="#")
                                .title Загальна
                                    span.sub-title юрисдикція
                                span.btn-more Всі правові позиціїї
                                .article-count Кількість статей
                                    span.count 1730
                            a(href="#").positions-item
                                .image
                                    img(src="assets/images/position.png", alt="#")
                                .title Загальна
                                    span.sub-title юрисдикція
                                span.btn-more Всі правові позиціїї
                                .article-count Кількість статей
                                    span.count 1730

                .block-rates
                    .wrapper
                        .title-block Тарифи
                        .rates
                            .rates-button
                                a(href="#").btn.btn-read-more.btn-rate.__free СПРОБУВАТИ
                            .rates-button
                                a(href="#").btn.btn-read-more.btn-rate.__permission ПРЕМІУМ
                .block-news
                    .title-block Новини
                    .wrapper
                        .row
                            .news-item.col.l3.m6.s12
                                .news-item__image
                                    img(src="assets/images/news1.jpg", alt="#")
                                .news-item__info
                                    .title-news Практика МКАС додана до бази даних RD
                                    .text.
                                        1 травня 2018 року до бази даних RD були додані правові позиції МКАС, що були створені на основі найбільш актуальних і цікавих рішень Міжнародного комерційного арбітражного суду при Торгово- промисловій палаті України.
                                    .news-item__publish
                                        .date 21.12.2017
                                        .views 343
                            .news-item.col.l3.m6.s12
                                .news-item__image
                                    img(src="assets/images/news2.jpg", alt="#")
                                .news-item__info
                                    .title-news Судова реформа в дії
                                    .text.
                                        Позитивні і негативній наслідки вступу в дію нових процесуальних кодексів.
                                    .news-item__publish
                                        .date 21.12.2017
                                        .views 343
                            .news-item.col.l3.m6.s12
                                .news-item__image
                                    img(src="assets/images/news3.jpg", alt="#")
                                .news-item__info
                                    .title-news Семінар на тему “Ефективне застосування практики ЄСПЛ”
                                    .text.
                                        Буде проведено 15 травня 2018 року за адресою вул. Багговутівська, 17-21
                                    .news-item__publish
                                        .date 21.12.2017
                                        .views 343
                            .news-item.col.l3.m6.s12
                                .news-item__image
                                    img(src="assets/images/news4.jpg", alt="#")
                                .news-item__info
                                    .title-news Новий аналітичний продукт від RD
                                    .text.
                                        Відтепер кожен бажаючий може замовити персоніфіковану аналітичну довідку по судовій практиці прямо на сайті RD.
                                    .news-item__publish
                                        .date 21.12.2017
                                        .views 343
                .block-social
                    .title-social Ми в соціальних мережах!
                    a(href="#", target="__blank").btn.btn-read-more.facebook Підписатись
                    a(href="#", target="__blank").btn.btn-read-more.linkedin Підписатись
                .block-contact
                    .wrapper
                        .title-block Контакти
                        .contact-form
                            form(class="js_validate", action="/")
                                .form-group.name
                                    input(type="text", name="name", placeholder="Ім’я*", required="")
                                .form-group.email
                                    input(type="email", name="email", placeholder="E-mail*", data-validate="email", required="")
                                .form-group
                                    textarea(name="message", placeholder="Ваше повідомлення*", required="")
                                button(type="submit").btn.btn-contact ВІДПРАВИТИ
            include template/_footer
            script(type='text/javascript', src='js/all-plugins.js')
            script(type='text/javascript', src='js/main.js')